.comment {
  margin-bottom: 14px;
}

.comment__user {
  display: flex;
  justify-content: space-between;
}

.detail_sub {
  margin-top: 10px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.3);
}

.detail_sub > span:first-child {
  margin-right: 8px;
}

.comment__user__info {
  display: flex;
  align-items: center;
}

.comment__user__info > i:first-child {
  color: green;
  font-size: 32px;
  margin-right: 8px;
}

.comment__user__info > a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

.setting__btn > i {
  font-size: 24px;
  margin-left: 16px;
  color: #535353;
}
