@import url("../../style/common.css");

#loginform {
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 20px 80px 50px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginform__title {
  font-family: "Dancing Script", cursive;
  font-size: 56px;
  font-weight: bold;
}

.loginform__id {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.loginform__id:focus {
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0);
  box-shadow: 0 0 2px 4px #90caf9;
}

.loginform__id::placeholder {
  font-size: 13px;
}

.loginform__password {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  margin: 18px 0;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.loginform__password:focus {
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0);
  box-shadow: 0 0 2px 4px #90caf9;
}

.loginform__password::placeholder {
  font-size: 13px;
}

.loginform__errormsg {
  margin-top: 0;
  color: #f62828;
  font-size: 14px;
}

.loginform__btn {
  width: 100%;
  height: 40px;
  padding: 0;
  margin-bottom: 18px;
  border: none;
  background-color: #b3e5fc;
  color: var(--color-white);
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.loginform__signup {
  margin-bottom: 18px;
}

.loginform__signup > a {
  text-decoration: none;
  font-weight: bold;
  color: #039be5;
}

.loginform__signup > a:hover {
  text-decoration: underline;
}

.loginForm__findlink > a {
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
  color: #00376b;
}

.loginForm__findlink > a:hover {
  text-decoration: underline;
}
