@import url("../../css/common.css");

#signupform {
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 20px 80px 50px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signupform__title {
  font-family: "Dancing Script", cursive;
  font-size: 56px;
  font-weight: bold;
}

.signupform__id {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  margin-bottom: 18px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.signupform__id:focus {
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0);
  box-shadow: 0 0 2px 4px #90caf9;
}

.signupform__email {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  margin-bottom: 18px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.signupform__email:focus {
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0);
  box-shadow: 0 0 2px 4px #90caf9;
}

.signupform__password {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  margin-bottom: 18px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.signupform__password:focus {
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0);
  box-shadow: 0 0 2px 4px #90caf9;
}

.signupform__btn {
  width: 100%;
  height: 40px;
  padding: 0;
  margin-bottom: 18px;
  border: none;
  background-color: #b3e5fc;
  color: var(--color-white);
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.signupform__signup > a {
  text-decoration: none;
  font-weight: bold;
  color: #039be5;
}

.signupform__signup > a:hover {
  text-decoration: underline;
}

.signupForm__errormsg {
  width: 100%;
  margin-top: 0;
  color: #f62828;
  font-size: 14px;
}
