.movie {
  padding: 10px;
  margin-bottom: 15px;
  cursor: pointer;
  display: flex;
}

.movie:hover {
  background-color: rgb(240, 238, 238);
}

.movie > img {
  width: 100px;
  height: 100px;
  margin-right: 12px;
}

.movie > span {
  display: block;
  width: 150px;
}
