#rightside {
  width: 0;
  flex-grow: 1;
  flex-shrink: 0;
  margin-bottom: 20px;
}

.rightside__user {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  text-decoration: none;
  color: #000000;
}

.rightside__user > i {
  font-size: 48px;
  color: green;
  margin-right: 15px;
}

.rightside__user > span {
  font-size: 24px;
  font-weight: bold;
}

.recommend__movies {
  display: flex;
  flex-direction: column;
}

.recommend__movies > a {
  text-decoration: none;
  color: #000000;
}
