#home-review {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.home-review__user {
  padding: 10px 20px;
  text-decoration: none;
}

.home-review__user > i {
  font-size: 25px;
  color: green;
  margin-right: 8px;
}

.home-review__user > span {
  color: #000000;
  font-size: 18px;
  font-weight: bold;
}

.home-review__photo {
  width: 100%;
  position: relative;
  padding-top: 100%;
  overflow: hidden;
}

.home-review__photo > img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}

.home-review__icon {
  padding: 10px 20px 0 20px;
  margin-bottom: 10px;
}

.home-review__icon > i {
  margin-right: 18px;
  font-size: 32px;
  cursor: pointer;
}

.home-review__likecount {
  padding: 0 20px;
  margin-bottom: 10px;
}

.home-review__description {
  padding: 0 20px;
}

.description__username {
  margin: 0;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
}

.description__content-more {
  margin: 0;
  width: 100%;
  height: 25px;
}

.description__content-briefly {
  margin: 0;
  width: 100%;
  height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.description__more,
.description__briefly {
  margin: 5px 0;
  padding: 0;
  color: #b8b6b6;
  border: none;
  background-color: white;
  cursor: pointer;
}

.description__more:hover,
.description__briefly:hover {
  color: #6d6b6b;
}

.description__created {
  color: #adabab;
  font-size: 13px;
  font-weight: bold;
  margin: 0;
}

.description__hashtag {
  padding: 6px 0;
}

.description__hashtag > a {
  text-decoration: none;
  font-weight: 600;
  color: #1976d2;
}

.description__rate {
  padding-bottom: 6px;
  color: rgb(224, 224, 3);
}

.home-review__comments {
  padding: 0 20px;
}

.comments__all {
  padding: 10px 0;
  font-size: 14px;
  color: #b8b6b6;
  text-decoration: none;
}

.home-review__write {
  margin-top: 16px;
  display: flex;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px 0;
}

.home-review__write > textarea {
  width: 90%;
  height: 40px;
  padding: 10px 10px;
  line-height: 20px;
  font-size: 16px;
  border: none;
  resize: none;
  overflow-y: hidden;
}

.home-review__write > textarea:focus {
  outline: none;
}

.home-review__write > button {
  width: 10%;
  height: 30px;
  padding: 0;
  border: none;
  background-color: white;
  color: lightblue;
  font-weight: 600;
}

.home-review__write > button.active {
  color: rgb(73, 195, 236);
  cursor: pointer;
}
