@import url("../../style/common.css");

#navbar {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  border-bottom: 1px solid #e4e4e4;
  width: 100%;
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 100px;
  z-index: 1;
}

.navbar__logo {
  color: var(--color-black);
  font-size: 36px;
  font-weight: bold;
  text-decoration: none;
  font-family: "Dancing Script", cursive;
}

.navbar__search {
  width: 30%;
  padding: 10px;
  background-color: var(--color-light-gray);
  border: none;
  font-size: 15px;
}

@media screen and (max-width: 800px) {
  .navbar__search {
    display: none;
  }
}

.navbar__search:focus {
  outline: none;
}

.navbar__search::placeholder {
  font-size: 18px;
  letter-spacing: 3px;
  text-align: center;
}

.navbar__menu {
  display: flex;
  align-items: center;
}

.menu {
  list-style: none;
  font-size: 18px;
  margin-right: 50px;
}

.menu > a {
  color: var(--color-black);
  font-size: 32px;
}

.menu > i {
  font-size: 32px;
  cursor: pointer;
}
