#writingmodal {
  width: 1400px;
  height: 640px;
  background-color: #ffffff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  display: flex;
  z-index: 2;
  overflow: hidden;
}

/* Left */

.writingmodal__left-before {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 640px;
  background-color: #ebebeb;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  overflow: hidden;
}

.writingmodal__left-before > p {
  color: #908f8f;
}

.writingmodal__left-upload {
  position: relative;
  width: 640px;
  background-color: #ebebeb;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.review__image {
  position: relative;
  padding-top: 100%;
  overflow: hidden;
}

.review__image > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.left__image-btn {
  margin-top: 20px;
  cursor: pointer;
  background-color: #0091ea;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  border-radius: 15px;
  padding: 20px;
}

.left__image {
  display: none;
}

.review__btn {
  position: absolute;
  bottom: 40px;
  right: 30px;
}

.btn__reselect {
  cursor: pointer;
  background-color: #252525;
  color: #ffffff;
  font-size: 20px;
  border-radius: 50%;
  padding: 13px;
}

/* Right */

.writingmodal__right {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
}

.rate {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.rate__icon {
  position: relative;
  display: inline-block;
  padding-bottom: 6px;
  margin-right: 10px;
  cursor: pointer;
}

.rate__empty {
  display: inline-block;
  font-size: 36px;
  color: rgba(0, 0, 0, 0.2);
}

.rate__fill {
  display: inline-block;
  position: absolute;
  left: 0;
  font-size: 36px;
  color: #fbbdd2;
  width: 18px;
  overflow: hidden;
}

.rate__score {
  font-size: 32px;
}

.rate__score > b {
  display: inline-block;
  width: 50px;
}

.writingmodal__right > input:first-child {
  height: 40px;
  margin-bottom: 16px;
  padding: 8px;
}

.writingmodal__right > input:nth-child(2) {
  height: 40px;
  margin-bottom: 16px;
  padding: 8px;
}

.writingmodal__right > textarea {
  height: 400px;
  margin-bottom: 24px;
  padding: 8px;
  resize: none;
}

.writingmodal__right > button {
  border: 0;
  border-radius: 5px;
  padding: 10px 0;
  background-color: #0091ea;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
