#home-review {
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.home-review__user {
  padding: 10px 20px;
}

.home-review__user > i {
  font-size: 25px;
  color: green;
  margin-right: 8px;
}

.home-review__user > span {
  font-size: 18px;
  font-weight: bold;
}

.home-review__photo {
  width: 100%;
}

.home-review__photo > img {
  width: 100%;
  height: 100%;
}

.home-review__icon {
  padding: 0 20px;
  margin-bottom: 10px;
}

.home-review__icon > i {
  margin-right: 18px;
  font-size: 32px;
}

.home-review__likecount {
  padding: 0 20px;
  margin-bottom: 10px;
}

.home-review__description {
  padding: 0 20px;
}

.description__username {
  margin: 0;
  font-weight: bold;
}

.description__content {
  margin: 0;
  width: 100%;
  height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.description__more {
  margin: 5px 0;
  padding: 0;
  color: #b8b6b6;
  border: none;
  background-color: white;
  cursor: pointer;
}

.description__more:hover {
  color: #6d6b6b;
}

.home-review__comments {
  padding: 0 20px;
}

.comments__all {
  margin: 5px 0;
  padding: 0;
  color: #b8b6b6;
  border: none;
  background-color: white;
  cursor: pointer;
}

.comments__comment {
  display: flex;
  margin-bottom: 5px;
  position: relative;
}
.comment__description {
  flex-basis: 90%;
}

.comment__description > b {
  margin-right: 5px;
}

.comment__description > a {
  color: navy;
  margin-right: 5px;
  text-decoration: none;
}

.comment__like {
  align-self: center;
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.home-review__write {
  margin-top: 16px;
  display: flex;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px 0;
}

.home-review__write > textarea {
  width: 90%;
  height: 40px;
  padding: 10px 10px;
  line-height: 20px;
  font-size: 16px;
  border: none;
  resize: none;
  overflow-y: hidden;
}

.home-review__write > textarea:focus {
  outline: none;
}

.home-review__write > button {
  width: 10%;
  height: 30px;
  padding: 0;
  border: none;
  background-color: white;
  color: lightblue;
  cursor: pointer;
}
